# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilados y uploads
dist/
build/
public/uploads/
backend/public/uploads/
*.csv

# Sistema Operativo
.DS_Store
Thumbs.db
